body{
    background-color: rgb(10, 10, 10);
}
.css-style{
    
    
    
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: left;
    margin: 20px 0px;
    


}
button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: rgb(219, 207, 230);
    background-color: rgb(114, 102, 102);
    cursor: pointer;
    font-size: 20px;
    font-style: Arial;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
}
.Clear-button{
    height: 60px;
    width: 70px;
}
.button2{
    background-color: rgb(221, 172, 12);
    color: rgb(11, 6, 6);
}
input{
    text-align: left;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}